.awesome {
	width: 100%;
	text-align: center;
}
.awesome-content {
	padding: 10rem 0rem 11rem 0rem;
}
.awesome-title {
	color: rgba(33, 33, 33, 1);
}
.awesome-line {
	display: flex;
	justify-content: center;
	margin-top: 3.4rem;
}
.awesome-title-description {
	margin-top: 3.4rem;
}
.awesome-options {
	display: flex;
	margin: 6.8rem -1.5rem 0rem -1.5rem;
}
.awesome-option {
	margin: 0rem 1.5rem;
	transition: 0.3s ease;
}
.awesome-option:hover {
	transform: scale(1.2);
}
.awesome-circle {
	width: 7rem;
	height: 7rem;
	border: 0.1rem solid rgba(231, 36, 36, 1);
	border-radius: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-self: center;
}

.fa-lightbulb, .fa-keyboard, .fa-bolt {
	font-size: 3.3rem;
	color: rgba(255, 140, 53, 1);
	align-self: center;
}
.awesome-subtitle {
	margin-top: 3rem;
}
.awesome-subtitle-description {
	margin-top: 1.6rem;
	color: rgba(0, 0, 0, 1) !important;
}