.awesome {
	width: 100%;
	text-align: center;
}

.awesome-title {
	padding-top: 100px;
	line-height: 38px;
	font-family: "Raleway", sans-serif;
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 25px;
}

.awesome-line {
	width: 64px;
	margin: 0px auto 30px;
	border-top: 1px solid rgba(217, 137, 67, 1);
}

.awesome-title-description {
	line-height: 19px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(134, 135, 139, 1);
	margin-bottom: 67px;
}

.awesome-answers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 -15px;
}

.awesome-answer {
	width: 350px;
	margin: 0px 20px 105px;
}

.awesome-circle {
	width: 70px;
	height: 70px;
	border: 1px solid rgba(217, 137, 67, 1);
	margin: auto;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.awesome-subtitle {
	margin-top: 30px;
	line-height: 29px;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 16px;
}

.awesome-subtitle-description {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}
