.customers {
	width: 100%;
	text-align: center;
}
.customers-content {
	padding: 8rem 0rem 12rem 0rem;
}
.customers-line {
	display: flex;
	justify-content: center;
	margin-top: 3.4rem;
}
.customers-title-description {
	margin-top: 3.4rem;
}
.customers-reviews {
	margin: 6.8rem -1.5rem 0rem;
	display: flex;
	justify-content: space-around;
}
.customers-review {
	width: 30rem;
	margin: 0rem 1.5rem 0rem;
	display: flex;
	flex-direction: column;
}
.customers-review-message {
	padding: 1rem;
	background-color: rgba(226, 226, 226, 1);
	border-radius: 0.7rem;
	position: relative;
	flex: 1 1 auto;
}
.customers-review-message::after {
	content: "";
	width: 0;
	height: 0;
	border-right: 1.2rem solid transparent;
	border-top: 1.2rem solid rgba(226, 226, 226, 1);
	border-left: 1.2rem solid transparent;
	position: absolute;
	bottom: -1.2rem;
	left: 3.9rem;
}
.customers-review-customer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 2.2rem;
}
.customers-review-customer-photo {
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	overflow: hidden;
}
.customers-review-customer-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.customers-review-customer-name {
	margin-bottom: 1.2rem;
}
