footer {
	width: 100%;
	background-color: rgba(0, 0, 0, 1);
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-icons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 23px;
	padding-top: 30px;
	margin-bottom: 18px;
}
.footer-icon {
	margin-left: 30px;
}
.footer-icon:first-child {
	margin-left: 0px;
}
.footer-link {
	color: rgba(200, 200, 200, 1);
	text-decoration: none;
}
.fab {
}
.fa-facebook {
}
.fa-twitter {
}
.fa-google-plus-g {
}
.fa-pinterest {
}
.fa-instagram {
}
.fa-stumbleupon {
}
.fas {
}
.fa-rss {
}
.fotter-text {
	color: rgba(255, 255, 255, 0.5);
	padding-bottom: 15px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 12px;
}
