header {
	background-color: rgba(0, 0, 0, 1);
}
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0em;
}
.header-logo {
	color: rgba(255, 255, 255, 1);
	font-size: 3em;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}
.header-logo-pink {
	color: rgba(237, 122, 122, 1);
}
.header-nav-menu {
	display: flex;
}
.header-nav-item {
	margin-left: 4.8rem;
	transition: all 0.3s ease;
	position: relative;
}
.header-nav-item:first-child {
	margin-left: 0px;
}
.header-nav-link {
	color: rgba(255, 255, 255, 0.7);
	font-family: "Open Sans", sans-serif;
	font-size: 1.5em;
	font-weight: 400;
}

.header-nav-item:hover {
	transform: translate(0px, -3px);
}
.header-nav-item:hover::before {
	content: "";
	height: 0.1rem;
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	bottom: 0;
	left: 0;

	animation-name: underscore;
	animation-duration: 0.5s;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;
}
@keyframes underscore {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
