header {
	width: 100%;
	background-color: rgba(0, 0, 0, 1);
}
.header-content {
	padding: 20px 0px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
	display: flex;
}
.header-logo-part-1 {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 35px;
	color: rgba(255, 255, 255, 1);
}
.header-logo-part-2 {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 35px;
	color: rgba(237, 122, 122, 1);
}
.header-nav-menu {
	display: flex;
	flex-wrap: wrap;
}
.header-nav-item {
	margin-left: 48px;
	transition: all 0.5s ease;
	position: relative;
}
.header-nav-item:first-child {
	margin-left: 0px;
}
.header-nav-link {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 600px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
}

.header-nav-item:hover {
	transform: translate(0px, -3px);
}
.header-nav-item:hover:after {
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	height: 1px;
	bottom: 0;
	left: 0;

	animation-name: line;
	animation-duration: 0.5s;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;
}
@keyframes line {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}
