.social {
	width: 100%;
	background: rgba(248, 239, 239, 1);
}
.social-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4rem 0rem 1.7rem 0rem;
}
.social-text {
	max-width: 36.5rem;
}
.social-title-description {
	margin-top: 1.4rem;
}
.social-icons {
	display: flex;
	font-size: 4.2em;
}
.social-icon {
	margin-left: 6.5rem;
}
.social-icon:first-child{
	margin-left: 0rem;
}
.social-link {
	color: rgba(200, 200, 200, 1);
}